
/* base styles, feel free to edit */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color:#fafafa;
    height: 8%;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color:#fafafa;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

/* nav related css */
.nav {
    display: none;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    display: inline;
    background-color: transparent;
    background-repeat:no-repeat;
    padding: 5px;
    list-style-type: none;
    border: none;
    outline:none;
    font-size: large;
}

.nav-item:hover {
    cursor:pointer;
    color: grey;
}

/* Add your styles here */

.form-group {
    padding-top: 1%;
    padding-bottom: 1%;
}

/* Feed related css */
.form-container {
    display: none;
    margin: 0 auto; 
    font-size: 150%;
    width: 60%;
}

.feed-container {
    display: none;
    padding-bottom: 10%;
}

.feed-container > div {
    margin: 4%
}

/* Modal properties */

.modal-body {
    max-height: 50%;
}
.modal-header {
    align-self: center;
}

